/* src/styles/Cart.css */
.cart-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.cart-items {
  list-style-type: none;
  padding: 0;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.cart-item span {
  margin-right: 20px;
}

.remove-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 2px 4px; /* Tamaño más pequeño */
  font-size: 10px; /* Fuente más pequeña */
  border-radius: 3px; /* Bordes redondeados más pequeños */
  cursor: pointer;
  margin-left: 10px; /* Espacio entre el precio y el botón */
  width: auto; /* Ajusta el ancho automáticamente */
}

.remove-button:hover {
  background-color: #c0392b;
}

.checkout-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-button:hover {
  background-color: #0056b3;
}
