.cart-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Altura completa de la ventana del navegador */
}

.cart-table {
  width: 100%; /* Asegura que la tabla ocupe el 100% del contenedor */
  border-collapse: collapse;
  margin-bottom: 20px;
}

.cart-table th, .cart-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.cart-table th {
  background-color: #f4f4f4;
}

.remove-button {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 18px;
}

.checkout-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: auto; /* Mueve el botón hacia el fondo del contenedor */
  cursor: pointer;
}
