.home-container {
    font-family: Arial, sans-serif;
    color: #003366; /* Azul oscuro */
}

.navbar {
    background-color: #003366; /* Azul oscuro */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav-brand {
    flex: 1;
    color: #ffffff;
}

.nav-brand h1 {
    margin: 0;
    font-size: 24px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    position: relative;
    color: #ffffff;
    text-align: center;
    padding: 100px 20px;
}

.hero-image {
    width: 100%;
    height: auto;
    display: block;
}

.description {
    padding: 20px;
    text-align: center;
}

.description h2 {
    color: #003366; /* Azul oscuro */
}

.description p {
    color: #333; /* Gris oscuro */
}
